@import '@styles/variables.module.scss';
@import '@styles/mixins.module.scss';

.btn {
    @include btn(100%, 43.6px, $color-primary, 3px);
    padding: 11px 19px;
    cursor: pointer;
    font-size: 14px;

    &:hover {
        transition: all 300ms;
    }
}

.primary {
    background-color: $color-primary;
    color: #fff;

    &:hover {
        filter: brightness(1.3);
    }
}

.secondary {
    background-color: $color-secondary;
    color: #fff;

    &:hover {
        background-color: #fff;
        border: 1px solid $color-secondary;
        color: $color-secondary;
    }
}

.tertiary {
    background-color: #fff;
    border: 1px solid $color-secondary;
    color: $color-secondary;

    &:hover {
        background-color: $color-secondary;
        color: #fff;
    }
}
