@import '@styles/variables.module.scss';
@import '@styles/mixins.module.scss';

.btn {
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    outline: none;
    border: 1px solid #e1e1e1;
    width: 100%;
    height: 42px;
    background-color: $primary_color;
    cursor: pointer;
    transition: all 0.3s ease;
    @include radius_common($radius_sm);
    
    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &:hover {
        opacity: 0.8;
        transition: background-color 300ms;
    }
}

.primaryBtn {
    background-color: $primary_color;
    color: $white_color;

    &:hover {
        background-color: transparent;
        color: $primary_color;
        border: 1px solid $primary_color;
    }
}

.secondaryBtn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid $primary_color;

    &:hover {
        background-color: $primary_color;
        color: $white_color;
    }
}
