@import '@styles/variables.module.scss';
@import '@styles/mixins.module.scss';

.container {
    @include flex_box_custom(center, center, 20px);
    flex-direction: column;
    background-image: url('../../../src/assets/images/photoofman.webp');
    height: 409px;
    width: calc(100%/2);
    background-repeat: no-repeat;
    background-size: cover;
}

.containerTimer{
    @include flex_box_custom(center, center, 10px);
}

.title{
    font-size: 28px;
    color: $four_color;
    margin-bottom: 5px;
    text-align: center;
}

.boxBtn{
    text-align: center;
    margin-top: 30px;
    width: 176px;
}