@import '@styles/variables.module.scss';
@import '@styles/mixins.module.scss';

.header {
    @include flex_box_custom(space-between, center, 0);

    margin-bottom: 20px;
    .titleHeader {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 5px;
    }
    .breadcrumbs {
        font-size: 14px;
        color: $--bs-gray;
    }
}