@use '@styles/mixins.module.scss' as mixins;
@use '@styles/variables.module.scss' as vars;

.container {
    @include mixins.flex_box_custom(space-between, unset, 0px);
    flex-direction: column;
    padding: 30px 20px 0 20px;
    height: 90%;

    .boxButton {
        @include mixins.flex_box_custom(space-between, unset, 10px);
        flex-direction: column;

        width: 100%;
    }
}
