@import '@styles/variables.module.scss';
@import '@styles/mixins.module.scss';

.container {
    background-color: $--bs-white;
    padding: 20px;
    margin: 0 auto;
    border-radius: 8px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.buttonGroup {
    @include flex_box_custom(flex-end, center, 15px);
    margin-top: 20px;
}