@import '@styles/variables.module.scss';
@import '@styles/mixins.module.scss';

.container {
    position: relative;

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #0000004d;
        z-index: 100;

        transition: all 0.3s ease;
    }

    .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        width: 350px;
        height: 100vh;
        background-color: white;
        z-index: 101;

        transform: translateX(350px);
        transition: all 0.3s ease;
    }

    .sliceSideBar {
        transform: translateX(0);
    }

    .boxIcon{
        @include flex_box_custom(center, center, 0);

        position: absolute;
        top: 25px;
        left: -60px;
        width: 35px;
        height: 35px;
        background-color: #fff;
        border-radius: 50%;
        transition: all 0.3s ease;
        cursor: pointer;

        &:hover{
            background-color: #ccc;
        }
    }
}
