@import '@styles/variables.module.scss';
@import '@styles/mixins.module.scss';

.boxLanguage {
        @include flex_box_custom(flex-start, center, 20px);

        padding-left: 10px;
        border-radius: 10px;
        &:hover{
            background-color: #33748116;
        }

        img {
            width: 20px;
            height: 20px;
        }

        p {
            font-size: 14px;
            font-weight: 600;
        }
    }