@import '@styles/variables.module.scss';
@import '@styles/mixins.module.scss';

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 80px;
    padding-left: 280px;
    background: #f2f7fb;
    transition: all 0.3s ease;
}
