@import '@styles/variables.module.scss';
@import '@styles/mixins.module.scss';

.containerSidebarMain {
    position: fixed;
    width: 280px;
    min-width: 280px;
    height: 100%;
    left: 0;
    overflow-y: auto;
    z-index: 20;
    background-color: #fff;
    box-shadow: 0 0 24px 2px rgba(20, 25, 38, 0.05);
    padding-top: 81px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    flex-shrink: 0;
    transition: all 0.5s ease;

    transform: translateX(0);
}

.sliceSideBar {
    transform: translateX(-350px);
}

.sectionTop {
    @include flex_box_custom(space-between, center, 0px);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    padding: 14px 20px 13px;
    width: 280px;
    background-color: #fff;
    border-bottom: 1px solid #f2f7fb;
    transition: all 0.3s ease;

    a {
        position: relative;
    }

    .iconToggle {
        position: relative;
        font-size: 24px;
        color: #94a3b8;
        cursor: pointer;
        transition: all 0.3s ease;

        .icon {
            font-size: 30px;

            &:hover{
                color: $--bs-primary;
            }
        }
    }
}
